/* Styles for header*/
header nav a{
    font-family: 'Raleway';
    text-decoration: none;
    color: #484848;
    margin: 0 20px;
    font-size: 1.3rem;
}

header nav a:hover{
    cursor: pointer;
}

.sign-up{
    color: white;
}

/* Styles for submit button */
.submit-button{
    background-color: #FC642D;
    color: white;
}

.submit-button:hover{
    cursor: pointer;
}