/* Styles for header*/
header nav a{
    font-family: 'Raleway';
    text-decoration: none;
    color: #484848;
    margin: 0 20px;
    font-size: 1.3rem;
}

a{
    text-decoration: none;
}

a:hover{
    cursor: pointer;
}

header img{
    width: 200px;
    margin-left: 20px;
}

@media (max-width: 480px){
    header img{
        width: 130px;
        margin-left: 10px;
    }
    header nav a{
        margin: 0 10px;
    }
}

@media (max-width: 350px){
    header img{
        width: 110px;
    }
    header nav a{
        margin: 0 7px;
    }
}